FRESteamWorksTest/bin-debug/FRESteamWorksTest
FRESteamWorksTest/bin-debug/FRESteamWorksTest.app

*.suo
*.user
*.sln.docstates
xcuserdata
project.xcworkspace

# build files
*.o
*.so
*.ane
*.dll
*.exe
*.swc

[Dd]ebug/
[Rr]elease/

Thumbs.db
Desktop.ini
.DS_Store
