FRESteamWorksTest/bin-debug/FRESteamWorksTest

*.suo
*.user
*.sln.docstates

# build files
*.ane
*.dll
*.exe

[Dd]ebug/
[Rr]elease/

*.opensdf
*.sdf
*.psess
*.vsp

Thumbs.db
Desktop.ini
