NativeApps
builds/v*
config.bat
config.sh
src/AdobeAIRSDK
src/APIWrapper/APIWrapper
src/SteamSDK
src/.dep
test/bin-debug/FRESteamWorksTest
test/bin-debug/FRESteamWorksTest.app
test/bin-debug/adt*.tmp

*.suo
*.user
*.sln.docstates
xcuserdata
project.xcworkspace
*.sublime-*

# build files
*.o
*.a
*.so
*.ane
*.dll
*.dmg
*.exe
*.swc
*.swf
*.dylib
*.framework

[Dd]ebug/
[Rr]elease/

Thumbs.db
Desktop.ini
.DS_Store
